.App {
  text-align: center;
  transition: 2s;
}

.App:hover {
  background-color: pink;
  transition: 2s;
  width: 100%;
}

.navbar {
  text-align: center;
}

.burger {
  width: 35px;
  height: 5px;
  background-color: #790aa1;
  margin: 6px 0;
}

img.bg {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media screen and (max-width: 1024px) {
  img.bg {
    left: 50%;
    margin-left: -512px;
  }
}
