.App {
    /* text-align: center; */
  transition: 2s;
  /* width: 40%; */
}

.App:hover {
  background-color: pink;
  transition: 2s;
  width: 100%;
}

.navbar {
  text-align: center;
}

.burger {
  width: 35px;
  height: 5px;
  background-color: #53126a;
  margin: 6px 0;
}